.dash_heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem 2rem;

  button {
    background: #1677ff;
    border: none;
    padding: 10px 1.3rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
  }
}

@media (min-width: 700px) {
  .dash_heading {
    flex-direction: row;
  }
}
