.user_form {
  width: 90%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 3px 2rem -1rem black;
  background: white;
  transform: translate(-50%, -50%);

  h2 {
    margin: 1.5rem 0;
  }

  .input_fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-around;
  }

  .field {
    margin-bottom: 0.5rem;
  }

  label {
    font-weight: 500;
  }

  input[type="text"],
  input[type="date"],
  input[type="number"],
  select,
  textarea {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 8px;
    margin-top: 6px;

    display: block;
  }

  input[type="radio"] {
    margin-right: 5px;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  button {
    color: white;
  }

  button:nth-child(1) {
    background: red;
  }
  button:nth-child(2) {
    background: #1677ff;
  }
}

@media (min-width: 530px) and (max-width: 2000px) {
  .add_user_form {
    width: 50%;
    padding: 2rem;

    .input_fields {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: start;
    }

    .field {
      margin-bottom: 1rem;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    select,
    textarea {
      margin-top: 6px;
      padding: 8px 1rem;
    }

    .buttons {
      justify-content: center;
    }
  }
}
